@page "/"
@using StreamMirrorer.Enums
@using StreamMirrorer.Interfaces
@inject IRecordController RecordController

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p role="status">Test Recorder: @RecorderTimes</p>

<button class="btn btn-primary" @onclick="IncrementCount">Record 10 second segment</button>

@code {
    private int RecorderTimes { get; set; }
    
    private void IncrementCount()
    {
        RecordController.StartNewRecording("Shoomimi", StreamerPlatforms.Twitch);
        RecorderTimes++;
    }

}